<p>Title: <%= @book.title %></p>
<p>Body: <%= @book.body %></p>
<div class="button-group">
  <%= link_to "Edit",edit_book_path(@book.id), class: "button" %>
  <span>|</span>
  <%= link_to "Back", books_path, class: "button" %>
</div>