// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

td {
  color: #000;
}
td, th {
  padding: 5px;
  margin: 5px;
}
th {
  text-align: center;
}
tr {
  height: 10px;
  padding-bottom: 2px;
  display: table-row;

}
h1 {
  font-weight: bold;
  margin-bottom: 5px;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
thead {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  align-items: center;
}

.button {
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
  padding-bottom: 0px;
}

span {
  margin-left: 10px;
}

.action-link {
  margin-right: 5px;
}

table {
  border-collapse: collapse;
}
p {
  margin: 0;
  font-size: 16px;
}