// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin: 33px;
  font-size: 13px;
}
p {
  margin: 33px;
  font-size: 13px;
}
a {
  color: #333;
}
futoji {
  font-weight: bold;
}